/* plsss kausapin mo ko :< */

body{
    background-color: lightblue;
}
  
h1{
    color: rgb(0, 0, 112);
    margin-left: 20px;
    text-align: center;
    font-size: 69px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  
p{
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
}
